* {
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: bisque;
  box-sizing: border-box;
};

nav {
  list-style-type: none;
  float: right;
  background-color: darksalmon;
}

.navbarUL li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 30px;
}

body {
  background-color: burlywood;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url('https://www.ppgpaintsarena.com/assets/img/JohnMayer19_EventPageLargeFeature-f1fb5e50ff.jpg');
  background-size: cover;
  background-position: center;
}

article {
  width: 400px;
  height: 250px;
  display: inline-block;
  padding: 15px 15px;
}

h1 {
  padding-top: 15px;
  text-align: center;
  box-shadow: crimson;
}

h3 {
  text-align: center;
}

.title {
  width: 400px;
  height: 250px;
  justify-content: center;
}

section {
  border: solid 5px cornsilk;
  width: 425px;
  height: 275px;
 
}